.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.LogoImg{
        /* margin-top: 1rem; */
}


.world .worlds{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    max-width: 500px;
    gap: 10px;
}
.world .social{
    display:  flex;
    gap: 3px;
    margin-top: 16px;
}
.world .conteries{
    display:  flex;
    gap: 3px;
    width: 30px;
    height: 30px;
    margin-top: 16px;
}
.world .search{
    display: flex;
    justify-content: flex-end;
    
}
.world .search form{
    display: flex;
    gap: 5px;
    align-items: center;
}
.search input {
    background: #fff;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    font-size: 1rem;
    color: #005095;

}
.search input::placeholder{
    color: #005095;;
}
.search button{
    background: linear-gradient(180deg,#0085B8 0%,#08469B 100%);
    border: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
}
.worlImg{
    width: 300px;
    height: 180px;
}