.footer{
    background: #595959;
    margin-top: -10px;
}
.footerlayout {
    width: 1016px;
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
background: #333;
color: #fff;
padding: 0px 10px;
}