.footer{
    background:  #2e3138;
    /* height: 35vh; */
}
.footerlayout {
  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

color: #fff6;
padding: 0px 20px;
}